.horizontal-line-gray {
  width: 100%;
  height: 1px;
  background-color: #cdcdcd;
}

.container {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: white;
  border-radius: 10px;
  padding: 0px 0px 75px 0px;
}

.company-container {
  width: 100px;
  height: 100px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-width: 100px;
  margin-right: 50px;
}

.company-container-blue {
  width: 100px;
  height: 100px;
  background-color: #30f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-width: 100px;
  margin-right: 50px;
}

.company {
  object-fit: contain;
  border-radius: 50%;
  padding: 20px;
}

.info-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  color: #0c0c0c;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subtitle-container {
  display: flex;
  justify-content: space-between;
}

.position {
  text-align: left;
  color: #6d6d6d;
  text-align: right;
  font-size: 1.325rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.duration {
  text-align: right;
  color: #6d6d6d;
  text-align: right;
  font-size: 1.325rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


/*FHD*/
@media screen and (min-width: 1900px) {
  
}

/*Lap L*/
@media screen and (min-width: 1440px) and (max-width: 1889px) {
  .title{
    font-size: 1.5rem;
  }
  .position, .duration{
    font-size: 1.2rem;
  }
}

/* Lap */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .position{
    text-align:left;
  } 
}

/* Phone */
@media screen and (min-width: 320px) and (max-width: 768px) {
  
  .title, .duration, .position{
    font-size: 1rem;
    text-align: left;
  } 
  .duration{
    text-align: right;
  }

  .company-container, .company-container-blue{
    width: 60px;
    height: 60px;
    min-width: 60px;
    margin-right: 10px;
  }
  .company-container img, .company-container-blue img{
    height: 70px;
  }

  .container{
    padding: 0px 0px 30px 0px;
  }

}
