.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  overflow-y: scroll;
}

.modal-content {
  background-color: white;
  width: 80%;
  height: auto;
  margin: 5% auto;
  position: relative;
  overflow-y: auto;
}

.back {
  text-decoration: underline;
  cursor: pointer;
  margin: 100px 0px 0px 100px;
}

article {
  display: flex;
  flex-direction: column;
  margin: 10px 100px 0px 100px;
}

.image-row {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.image-row img {
  width: 30%;
}

.description p {
  margin: 50px 0;
  color: #363636;
  font-size: 18px;
}

.modal-h1 {
  font-size: 40px;
}

.modal-gal {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.modal-gal img {
  width: 100%;
  object-fit: cover;
}

.modal-gal-1 {
  grid-area: 1 / 1 / 3 / 2;
  width: 300px;
  height: 300px;
}

.modal-gal-1 img {
  width: 300px;
}

.modal-gal-2 {
  grid-area: 1 / 2 / 2 / 4;
  width: 300px;
}
.modal-gal-2 img {
  width: 500px;
  height: 150px;
}

.modal-gal-3 {
  grid-area: 2 / 2 / 3 / 3;
  width: 250px;
}

.modal-gal-3 img {
  width: 235px;
  height: 132px;
}

.modal-gal-4 {
  grid-area: 2 / 3 / 3 / 4;
  width: 250px;
}

.modal-gal-4 img {
  width: 240px;
  height: 132px;
}
