
.carousel-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  gap: 50px;
  margin: 0 auto;
}

.card {
  width: 400px;
  height: 450px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border: solid 1px #b5b5b5;
  transition: 0.5s;
}

.card:hover{
  background-color: rgb(238, 238, 238);
  cursor:pointer;
}

.card-image {
  position: relative;
  overflow: hidden;
}

.card-image img { 
  object-fit: cover;
}

.category-box {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 18px;
  color: #0c0c0c;
}

.card-content {
  padding: 15px;
}

.highlight_title {
  color: #0c0c0c;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.subtitle {
  color: #586369;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*FHD*/
@media screen and (min-width: 1900px){
  .card{
    width: 600px;
    height: 650px;
  }
  .card img{
    width: 100%;
    height: 450px;
  }
  .category-box{
    font-size: 1.8rem; 
  }
  .highlight_title{
    font-size:2rem;
  }
  .subtitle{
    font-size: 1.8rem;
  }
}

/*Lap L*/
@media screen and (min-width: 1440px) and (max-width: 1899px){
  .highlight_title{
    font-size: 1.5rem;
  }
  .subtitle{
    font-size: 1.3rem;
  }
  
}

/*Lap*/
@media screen and (min-width: 1024px) and (max-width: 1439px){
  .highlight_title{
    font-size: 1.3rem;
  } 
}

/*Phone*/
@media screen and (min-width: 320px) and (max-width: 425px){
  .carousel-container{
    display: flex;
    flex-direction: column;
  }
  .card{
    width: 100%;
  }
}