body {
  margin: 0;
  background-color: white;
}

.background {
  background-color: #fff;
  margin: 0px;
}

main {
  margin: 0px 100px 0px 100px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  /* Fondo blanco */
  color: black;
  /* Color del texto */
  padding: 10px 20px;
  margin: 25px 0px 0px 0px;
}

.logo {
  width: 75px;
  /* Ancho de 100px */
  height: 75px;
  /* Alto de 100px */
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  background-color: black;
  /* Fondo negro */
  padding: 5px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid black 1px;
  transition: 0.2s;
}

.navbar-links li:hover {
  background-color: white;
}

.navbar-links li:hover img {
  filter: invert(1);
}

.navbar-links li a {
  color: white;
  text-decoration: none;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-links li a img {
  height: 100%;
  width: 100%;
}

.section-title {
  color: #0c0c0c;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  margin: 0px 0px 75px 0px;
}


.horizontal-line {
  width: 100%;
  height: 1px;
  background-color: black;
  margin: 100px 0px 50px 0px;
}