.gallery-container {
  display: flex;
  flex-direction: row;
}
.image-container {
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}

.image-container img {
  width: 100%;
  margin-bottom: 20px;
  object-fit: cover;
  transition: 0.3s;
}

.image-container .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  transition: 0.3s;
  width: 100%;
  height: 600px;
  cursor: pointer;
}

.image-container:hover {
  transform: rotate(5deg);
}
.image-container:hover .overlay {
  opacity: 1;
}

.overlay .date {
  color: white;
  font-size: 14px;
  position: absolute;
  top: 20px;
  left: 20px;
  border: solid white 1px;
  padding: 5px 10px 5px 10px;
}

.overlay-title {
  color: white;
  font-size: 26px;
  font-weight: 800;
  position: absolute;
  width: 90%;
  bottom: 80px;
  left: 20px;
}

.overlay-sub {
  color: white;
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  bottom: 40px;
  left: 20px;
}

/*FHD*/
@media screen and (min-width: 1900px) {
  .gallery-container{
    justify-content: center;
    gap: 80px;
  }
  .image-container {
    width: 500px;
    height: 800px;
    margin: 0px 0px 50px 0px;
  }

  .image-container .overlay {
    width: 500px;
    height: 100%;
  }
  .image-container img {
    width: 100%;
    height: 100%;
  }
  .overlay-title{
    font-size: 2.5rem;
  }
  .overlay-sub{
    font-size: 2rem;
  }
  .overlay .date{
    font-size: 1.8rem;
  }
}

/*Lap L*/
@media screen and (min-width: 1440px) and (max-width: 1899px) {
  .gallery-container{
    justify-content: center;
    gap: 80px;
  }
  .image-container {
    width: 350px;
  }

  .overlay {
    width: 350px;
  }
}

/*Lap*/
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .gallery-container{
    justify-content: center;
    gap: 25px;
  }
  .image-container {
    width: 250px;
  }

  .overlay {
    width: 250px;
  }

  .image-container:hover {
    transform: rotate(3deg);
  }

  .overlay-title{
    font-size: 1.3rem;
  }

}

/*Phone*/
@media screen and (min-width: 320px) and (max-width: 425px) {
  .gallery-container {
    flex-direction: column;
  }

  .image-container .overlay {
    opacity: 1;
  }

  .column {
    margin-top: 10px !important;
  }
  .overlay-title{
    font-size: 1.5rem;
  }
}
