.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 35px;
  justify-content: center;
}

.parent div {
  width:100%;
  height: 66px;
  background-color: #0c0c0c;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 300;
}

.div1 {
  background-color: #3300ff !important;
  width: 400px;
  grid-area: 1 / 1 / 2 / 2;
}

.div2 {
  width: 294px;
  grid-area: 1 / 2 / 2 / 3;
}

.div3 {
  width: 324px;
  grid-area: 1 / 3 / 2 / 4;
}

.div4 {
  background-color: #fff !important;
  justify-content: space-between !important;
  width: 400px;
  gap: 50px;
  grid-area: 2 / 1 / 3 / 2;
}

.div4 div {
  width: 50%;
}

.div5 {
  width: 294px;
  background-color: #ff00c7 !important;
  color: #0c0c0c !important;
  grid-area: 2 / 2 / 3 / 3;
}

.div6 {
  width: 324px;
  background-color: #fff !important;
  justify-content: space-between !important;
  gap: 50px;
  grid-area: 2 / 3 / 3 / 4;
}

.div6 div {
  width: 50%;
}

.div7 {
  width: 400px;
  background-color: #fff !important;
  justify-content: space-between !important;
  gap: 50px;
  grid-area: 3 / 1 / 4 / 2;
}

.div7 div {
  width: 50%;
}

.div8 {
  width: 700px;
  gap: 50px;
  grid-area: 3 / 2 / 4 / 4;
  background-color: #fff !important;
}

.div8 .short {
  width: 30%;
}

.div8 .long {
  width: 70%;
  background-color: #fdfc01 !important;
  color: #0c0c0c !important;
}

@media screen and (min-width: 1440px){
  .parent div{
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1024px){
  .parent div{
    font-size: 1.6rem;
  }
}