.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-links {
  display: flex;
  gap: 20px; /* Espacio entre los enlaces */
}

.footer-links a {
  text-decoration: none;
  color: #0c0c0c;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Lap L*/
@media screen and (min-width: 1440px) and (max-width: 1889px) {
  
  
}


/*Lap L*/
@media screen and (min-width: 1024px) and (max-width: 1439px) {

}
@media screen and (min-width:320px) and (max-width:425px) {
  
  .footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 250px 0px;
    
  }

  .footer-links {
    flex-direction: column;
    margin: 20px 0px 0px 0px;
    padding: 0px 0px 40px 0px;
  }

  .footer-wrapper{
    max-width: 300px;
  }

  .footer-logo img{
    width: 40px;
    height: 40px;
  }
  
}