.carousel-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
  gap: 50px;
  margin: 0 auto;
}

.card {
  width: 400px;
  height: 450px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border: solid 1px #b5b5b5;
  transition: 0.5s;
}

.card:hover{
  background-color: rgb(238, 238, 238);
  cursor:pointer;
}

.card-image {
  position: relative;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  object-fit: cover;
  height: 300px;
}

.category-box {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 18px;
  color: #0c0c0c;
}

.card-content {
  padding: 15px;
}

.title {
  color: #0c0c0c;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.subtitle {
  color: #586369;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
